.main-header {
  background-color: var(--accent);
  color: var(--light);
  height: 90px;
  display: flex;
  align-items: center;

  & a {
    color: inherit;

    &:hover {
      color: var(--primary);
    }
  }
  .menu-list {
    display: flex;
    gap: 30px;
    align-items: center;
  }
}
